.header {
  position: fixed;
  height: 110px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.3s ease-in;
  overflow: hidden;
  /* background-color: #fff; */
}


.header .fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
}
html {
  --top-spacing: 100px;
  scroll-padding-top: var(--top-spacing);
}

body {
  margin: var(--top-spacing) auto;
  
 
  padding: 0 20px;
  font: 18px/1.4 system-ui;
}





.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: auto;
  height: 100%;
}

.header .nav-menu a {
  color: #333;
}

.header .navbar img {
  height: auto;
}

.header .nav-menu {
  display: flex;
padding-left: 30px;
padding-top: 15px;
}

.header .nav-item {
  padding: 1rem;
  font-weight: 500;
}

/* .header .nav-item a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid #a51720;
} */
.header .nav-menu a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid #a51720;

}

.hamburger {
  display: none;
}
.nav-active {
  color: #a51720 !important;
  font-weight: 600;
}

@media screen and (max-width: 940px) {
  .header {
    max-width: 100%;
  }

  .header .navbar {
    max-width: 100%;
  }

  .hamburger {
    display: block;
    color: #333;
  }
  @media screen and (max-width: 940px) {
  #clsheaderborder{
    border-bottom: 1px solid #e7e7e7;
    padding-top: 30px;
  }
  .clsteambtn {
    display: none;
  }
}

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 80px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;

    z-index: 999;
    text-align: center;
    transition: 0.3s;
/*     box-shadow: 0px 15px 7px -17px #111;
 */  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1.5rem 0;
  }
}

@media screen and (max-width: 940px) {
  .header .navbar {
    padding: 0px 14px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 0px 15px;
  }
}


.navlogo
{
  margin-top: 20px;
}